[Desktop Entry]
Name=Tulpar Ayarları
Comment=Oturum ve kapatma ayarlarını düzenle
Exec=bash /opt/tulpar/tulpar-settings.sh
Icon=preferences-system
Terminal=false
Type=Application
Categories=Settings;System;
