[Desktop Entry]
Type=Application
Name=Tulpar Daemon
Comment=Tulpar oturum ve kapatma zamanlayıcısı
Exec=/usr/local/bin/tulpar_daemon.py
Icon=/usr/share/icons/tulpar.png
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
