[Desktop Entry]
Type=Application
Name=Tulpar Ayarları
Comment=Tulpar oturum ve kapatma ayarları
Exec=/usr/local/bin/tulpar_settings.py
Icon=preferences-system
Terminal=false
Categories=Settings;System;
